.hero {
  width: 100%;
  height: 100vh;

  .heroContent {
    display: flex;
    align-items: flex-end;
    height: 90%;

    .textBox {
      h2 {
        font-size: 4.3em;
        color: #deaf08;
      }

      h3 {
        font-size: 2em;
        color: #fff;
      }

      p {
        margin-bottom: 2em;
        max-width: 15em;
        color: #d4d4d4;
      }
    }
  }
}

@media (max-width: 500px) {
  .heroContent {
    padding: 6em 3em;
  }
}

@media (min-width: 500px) {
  .heroContent {
    padding: 6em 4em;
  }
}

@media (min-width: 1000px) {
  .heroContent {
    padding: 6em;
  }
}
