.exercises {
  width: 100%;
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  color: white;

  .exerciseCard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 2em;

    h3 {
      margin-bottom: 1em;
    }

    table {
      width: 100%;
      th {
        margin-right: 1em;
        text-align: start;
      }
    }
  }
}
