.navbar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;

  .navigation {
    display: flex;
    li {
      list-style: none;
      font-weight: bold;
      a {
        color: #fff;
        &:hover {
          color: #deaf08;
        }
      }
      &:last-child {
        margin-left: 2em;
      }

      .registerButton {
        color: #deaf08;
        border: 0.1em solid #deaf08;
        border-radius: 5px;
        padding: 0.5em;
        &:hover {
          color: #fff;
          border: 0.1em solid #fff;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .navigation li:first-child {
    display: none;
  }
}

@media (min-width: 500px) {
  .navbar {
    padding: 2em 4em;
  }
}

@media (min-width: 1000px) {
  .navbar {
    padding: 2em 6em;
  }
}
