.treningsGallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.treningCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 2em;

  .cardHeader {
    display: flex;
    justify-content: space-between;

    h3 {
      color: #deaf08;
      margin-bottom: 1em;
    }
  }

  .exerciseContent th {
    text-align: start;
    padding: 1em;
    border-right: 1px solid #deaf08;
    border-bottom: 1px solid #deaf08;
    &:last-child {
      border-right: 0;
    }
  }
  .exerciseContent tr:last-child th {
    border-bottom: 0;
  }
}
